<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owner')}">

<body>
<h2 th:text="'Welcome to owners list'">Owners list</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 150px;"> Id </th>
                    <th style="width: 150px;"> Firstname </th>
                    <th style="width: 150px"> Lastname </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="owner : ${owners}">
                    <th th:text="${owner.id}"></th>
                    <th th:text="${owner.firstName}"></th>
                    <th th:text="${owner.lastName}"></th>
                </tr>
            </tbody>
        </table>
</body>
</html>